<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.perrosky.organizapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.OrganizApp">
        <activity android:name=".ui.EditarStockProductoActivity"></activity>
        <activity android:name=".ui.ListaProductoActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.OrganizApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.EditarProductoActivity" />
        <activity android:name=".ui.EditarCategoriaActivity" />
        <activity android:name=".ui.EditarMarcaActivity" />
        <activity android:name=".ui.ListaCategoriasActivity" />
        <activity android:name=".ui.ListaMarcasActivity" />
        <activity android:name=".adapter.EscanearActivity" />
    </application>

</manifest>